<mat-card>
    <mat-card-title>Bienvenido</mat-card-title>
  <mat-card-content>
    <form [formGroup]="form">
    <p>
      <mat-form-field>
        <input type="text" matInput formControlName="username" placeholder="Nombre de usuario" [errorStateMatcher]="matcher">
        <mat-error *ngIf="form.get('username').hasError('required')">
          El nombre de usuario es <strong>obligatorio</strong>
        </mat-error>
      </mat-form-field>
    </p>

    <p>
      <mat-form-field>
        <input type="password" matInput  formControlName="password" placeholder="Contraseña" [errorStateMatcher]="matcher">
        <mat-error *ngIf="form.get('password').hasError('required')">
          La contraseña es <strong>obligatoria</strong>
        </mat-error>
      </mat-form-field>
    </p>
    </form>
  </mat-card-content>
  <div class="button">
    <button class="card-font-color" mat-button matSuffix (click)="login()"
            routerLink="../app/admin/users"
            [disabled]="form.invalid"
    >Entrar
    </button>
  </div>
</mat-card>
